<p>institute works!</p>
 <a routerLink="InstituteOfCardiaSciences">InstituteOfCardiaSciences</a>&nbsp;

<a routerLink="InstituteOfDentalScience">InstituteOfDentalScience</a>&nbsp;

<a routerLink="InstituteOfGastroenterologyHepatology">InstituteOfGastroenterologyHepatology</a>&nbsp;

<a routerLink="InstituteOfHeartLungTransplantation">InstituteOfHeartLungTransplantation</a>&nbsp;

<a routerLink="InstituteOfNeuroSciences">InstituteOfNeuroSciences</a>&nbsp; 

<a routerLink="">Refresh</a>&nbsp;
<router-outlet></router-outlet>

